{% extends "base.html" %}

{% block title %}
HomePage
{% endblock title %}

{% block body %}

{% comment %}
    <h1>Contents are under construction.</h1>
{% endcomment %}

<form class = "container mx-auto col-6 card p-3 shadow-lg" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    
    <h2>Add Task</h2>
    <hr>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Task Name</label>
      <input type="text" name = "task_name" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Task Description</label>
      <input type="text field" name = "task_description" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Task Image</label>
        <input type="file" name = "task_image" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>
<hr>
<h2>Task List</h2>
<table class="table table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Name</th>
      <th scope="col">Task Description</th>
      <th scope="col">Task Image</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{task.task_name}}</td>
      <td>{{task.task_description}}</td>
      <td>{{task.task_image}}</td>
      <td>
        <a href="delete-task/{{task.id}}" type="button" class = "btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
